body {
  margin: 0;
  background-image: linear-gradient(to top, #000000 40%,  #000000 40%);
  background-size: 200% 200%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
